name: Release

on:
  push:
    tags:
      - "V*"
  workflow_dispatch:

jobs:
  release:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies
        run: |
          brew install create-dmg

      - name: Build Kaku
        run: |
          ./scripts/build.sh

      - name: Upload to Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "dist/*.dmg"
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
